<div class="graphic-container">
  <h1>Dashboard</h1>

  <mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile>
      <mat-grid-tile-header>Total Candidatos</mat-grid-tile-header>
      <mat-card>
        <mat-card-content>
          <canvas id="totalUsers"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!-- 
    <mat-grid-tile>
      <mat-grid-tile-header>Total Users</mat-grid-tile-header>
      <mat-card>
        <mat-card-content>
          <canvas #totalUsers id="totalUsers" width="300" height="300"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Users Logins</mat-grid-tile-header>
      <mat-card>
        <mat-card-content>
          <canvas #userLogins id="userLogins" width="300" height="300"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Users Types</mat-grid-tile-header>
      <mat-card>
        <mat-card-content>
          <canvas #userTypes id="userTypes" width="300" height="300"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>API Calls</mat-grid-tile-header>
      <mat-card>
        <mat-card-content>
          <canvas #userTypes id="apiCalls" width="300" height="300"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>-->
  </mat-grid-list>
</div>

