<div class="login-container">
    <div class="login-right">
        <a class="logodark" href="/home">
            <img src="../../../../assets/images/jh2.png" alt="logo" class="align-middle m-2" />
        </a>
        <div class="login-info">
            <img src="../../../../assets/images/sign-in.png" alt="" />
        </div>
    </div>
    <div class="login-left">
        <div class="login-title">
            <h4>Welcome to Flexy</h4>
            <span>Already have an Account? <a href="/login"> Sign In</a></span>
        </div>
        <div class="login-title">
            <a href="/graphic">graphic</a>
        </div>
        <form (ngSubmit)="guardar()" [formGroup]="signInForm" autocomplete="off">
            <mat-form-field appearance="outline" color="primary" >
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="" [errorStateMatcher]="vs.matcher" type="text" />
                <mat-error *ngIf="vs.campoEsValido('name')">{{vs.getMensaje('name')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="primary">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="" [errorStateMatcher]="vs.matcher" type="email" />
                <mat-error *ngIf="vs.campoEsValido('email')">{{
                    vs.getMensaje("email")
                    }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="primary">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="" [errorStateMatcher]="vs.matcher" type="password" />
                <mat-error *ngIf="vs.campoEsValido('password')">{{
                    vs.getMensaje("password")
                    }}</mat-error>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary">
                Registrar
                <i *ngIf="signInForm.pending" class="pi pi-spin pi-spinner"></i>
            </button>

            <div class="separator">
                <div class="line"></div>
                <span class="text">or sign up with</span>
                <div class="line"></div>
            </div>

            <div class="social-buttons">
                <button type="button" mat-raised-button class="btn google" color="primary">Google</button>
                
                <div class="btn-group">
                    <button type="button" mat-raised-button class="btn facebook" color="primary">Facebook</button>
                    <button type="button" mat-raised-button class="btn twitter" color="primary">Twitter</button>
                </div>
            </div>

        </form>
    </div>
</div>
