<!-- testimonial -->
<section class="section" id="testimonial">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="header-title text-center">
                    <p class="text-uppercase text-muted mb-2">Testimonial</p>
                    <h3>Some lovely Feedback from our Clients</h3>
                    <div class="title-border mt-3"></div>
                    <p class="text-muted mt-3">We craft digital, graphic and dimensional thinking, to
                        create category leading brand experiences that have meaning and add a value.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 pt-2">
            <div class="col-lg-12">
                <div id="testimonialSlider" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-indicators">
                        <ng-container *ngFor="let testimonial of testimonials; let i = index">
                            <button type="button" [attr.data-bs-target]="'#testimonialSlider'"
                                [attr.data-bs-slide-to]="i" [attr.aria-label]="'Slide ' + (i + 1)"
                                [class.active]="i === 0" [class.aria-current]="i === 0">
                                <img [src]="testimonial.image" alt=""
                                    class="testi-img img-fluid rounded mx-auto d-block">
                            </button>
                        </ng-container>
                    </div>

                    <div class="carousel-inner">
                        <ng-container *ngFor="let testimonial of testimonials; let i = index">
                            <div class="carousel-item" [class.active]="i === 0">
                                <div class="testimonial-box text-center mt-4">
                                    <div class="testimonial-content rounded">
                                        <p class="text-muted mb-0">{{ testimonial.feedback }}</p>
                                    </div>
                                    <i class="mdi mdi-format-quote-close text-primary display-3"></i>
                                    <h5 class="fs-18">{{ testimonial.name }}</h5>
                                    <p class="text-muted mb-0">{{ testimonial.role }}</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#testimonialSlider"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#testimonialSlider"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial -->

<section class="section bg-light" id="team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="header-title text-center">
                    <p class="text-uppercase text-muted mb-2">meet our Expert</p>
                    <h3>Amazing and talented People work here</h3>
                    <div class="title-border mt-3"></div>
                    <p class="title-desc text-muted mt-3">Porttitor dolor donec pulvinar tortor nisi quis dapibus
                        tortor commodo sed Pellentesque hendrerit pellentesque libero nec sollicitudin.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 col-md-6" *ngFor="let member of teamMembers">
                <div class="team-box text-center">
                    <div class="team-img position-relative">
                        <img [src]="member.img" class="img-fluid rounded" alt="">
                        <div class="team-content">
                            <ul class="list-inline mb-0 p-0">
                                <li class="list-inline-item" *ngFor="let socialNetwork of member.socialNetworks">
                                    <a [href]="socialNetwork.url">
                                        <i [class]="socialNetwork.icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-3">
                        <a class="text-primary">
                            <h5 class="fs-18 mb-1">{{member.name}}</h5>
                        </a>
                        <p class="mb-0">{{member.role}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>